$fontSize: 4em;
$bgcolor: #6cc3c1;
$color-yellow: #fbda6c;
$color-red: #ef7352;
$transparent: rgba(255, 255, 255, 0);
$shadow: 0px 0px 10px 0px $color-red;

@mixin focus {
    &:focus {
        box-shadow: $shadow;
        outline: 0px;
    }
}
