* {
  padding: 0;
  margin: 0;
  color: rgba(8, 9, 9, 0.86);
}

$bgcolor: #6CC3C1;
$color-yellow: #FBDA6C;
$color-red: #EF7352;
$transparent: rgba(255, 255, 255, 0);
$shadow: 0px 0px 5px 0px $color-red;

HTML {
  height: 100%;
}

BODY {
  background: linear-gradient(45deg, $color-yellow 25%, $transparent 25%) 0 0,
  linear-gradient(45deg,
                  $transparent 75%,
                  $color-yellow 75%
  ) 0 0,
  linear-gradient(45deg,
      $transparent 75%,
      $color-yellow 75%
      ) -3em 3em,
  linear-gradient(45deg,
                  $color-yellow 25%,
                  $transparent 25%
  ) 3em -3em;
  background-size: 6em 6em;
  background-color: $bgcolor;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
}

h1 {
  padding-top: 1em;
  padding-left: 0.5em;
}

.container {
  display: flex;
  margin: 1em;
}
