@import '../../../styles/variables.scss';

.user-card {
    margin: 5px;
    padding: 10px;
    height: 350px;
    border: 2px solid $color-red;
    border-radius: 10px;
    background-color: $color-yellow;
    transition-duration: 0.5s; 

    &:hover {
        box-shadow: $shadow;
        cursor: pointer;
    }

    .name,
    p {
        text-align: center;
    }

    img {
        width: 200px;
        margin: 10px 0;
    }

    .user-card__info {
        list-style: none;
    }
}

// @keyframes show {
//     0% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 1;
//     }
// }
