@import "../../App/style";

.user-card {
  border: 2px solid $color-red;
  margin: 0.5em;
  padding: 0.5em;
  width: 15em;
  background-color: $color-yellow;

  &:hover {
    box-shadow: $shadow;
    cursor: pointer;
  }

  .name {
    text-align: center;
  }

  p {
    text-align: center;
  }

  img {
    height: 10em;
    margin: 1em 0 1em 0;

  }

  .user-card__info {
    list-style: none;
  }
}
